openapi: 3.0.3
info:
  contact:
    email: hello@confighub.com
    name: ConfigHub Support
    url: https://confighub.com/
  description: ConfigHub API
  license:
    name: N/A
    url: https://confighub.com/TBD
  termsOfService: TBD
  title: ConfigHub API
  version: 0.1.0
servers:
- description: production
  url: https://hub.confighub.com/api
security:
- bearerAuth: []
paths:
  /_space:
    delete:
      description: Delete multiple spaces selected by query parameters
      operationId: BulkDeleteSpaces
      parameters:
      - description: |-
          The specified string is an expression for the purpose of filtering
          the list of Spaces returned. The expression syntax was inspired by SQL.
          It supports conjunctions using `AND` of relational expressions of the form *attribute*
          *operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,
          as in the JSON encoding.
          Strings support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `LIKE`, `NOT LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.
          String pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,
          `ILIKE` for case-insensitive pattern matching, `NOT LIKE` and `!~~` for negated pattern matching.
          String regex operators: `~` for regex matching, `~*` for case-insensitive regex,
          `!~` and `!~*` for regex not matching (case-sensitive and insensitive).
          Integers support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `IN`, `NOT IN`.
          UUIDs and boolean attributes support equality and inequality only.
          UUID and time literals must be quoted as string literals.
          String literals are quoted with single quotes, such as `'string'`.
          Time literals use the same form as when serialized as JSON,
          such as: `CreatedAt > '2025-02-18T23:16:34'`.
          Integer and boolean literals are also supported for attributes of those types.
          Arrays support the `?` operator to to match any element of the array,
          as in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.
          Arrays can perform LEN() to check for length, as in `LEN(ApprovedBy) > 0`.
          Map support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.
          Maps support `IS NULL` and `IS NOT NULL` with dot notation to check for key absence or presence,
          as in `Labels.tier IS NULL` (key doesn't exist) or `Labels.tier IS NOT NULL` (key exists).
          Comparison results can be tested with `IS TRUE`, `IS FALSE`, `IS NOT TRUE`, and `IS NOT FALSE`.
          These are useful for nullable columns: `MergeSourceID = '<uuid>' IS NOT FALSE` matches rows where MergeSourceID equals the value OR is NULL.
          The `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,
          such as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.
          Conjunctions are supported using the `AND` operator.
          An example conjunction is:
          `CreatedAt >= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.

          Supported attributes for filtering on Space: AttributeFilterID, AttributeHash, AttributeIDs, CreatedAt, DeleteGates, DisplayName, Labels, OrganizationID, Permissions, Slug, SpaceID, TriggerFilterID, TriggerHash, TriggerIDs, UpdatedAt.

          The whole string must be query-encoded.
        in: query
        name: where
        required: false
        schema:
          type: string
      - description: |-
          UUID of a Filter entity to apply to the Space list.

          The Filter must be in the same Organization as the user credentials.

          The Filter's From field must match the entity type being filtered (Space).

          For Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.

          The Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.

          If both 'filter' and 'where' parameters are specified, they are combined with AND logic.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: |-
          Free text search that approximately matches the specified string against string fields and map keys/values.

          The search is case-insensitive and uses pattern matching to find entities containing the text.

          Searchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.

          For map fields (like Labels and Annotations), the search matches both map keys and values.

          The search uses OR logic across all searchable fields, so matching any field will return the entity.

          If both 'where' and 'contains' parameters are specified, they are combined with AND logic.

          Searchable fields for Space include string and map-type attributes from the queryable attributes list.

          The whole string must be query-encoded.
        in: query
        name: contains
        required: false
        schema:
          type: string
      - description: |-
          Include clause for expanding related entities in the response for Space.
          The attribute names are case-sensitive, PascalCase, and
          expected in a comma-separated list format as in the JSON encoding.

          Supported attributes for Space are AttributeFilterID, AttributeIDs, OrganizationID, TriggerFilterID, TriggerIDs.

          The whole string must be query-encoded.
        in: query
        name: include
        required: false
        schema:
          type: string
      - description: Valid values are true and false. False is the default if unspecified.
          If true, recursively delete all entities within the deleted space(s) so
          long as none have delete gates.
        in: query
        name: recursive
        required: false
        schema:
          type: string
      - description: Valid values are true and false. False is the default if unspecified.
          If true, recursively delete all entities within the deleted space(s) regardless
          whether any have delete gates.
        in: query
        name: recursive_force
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeleteResponse'
                type: array
          description: OK
        "207":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeleteResponse'
                type: array
          description: 'Multi-Status: Mixed success and failure results'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Space request is invalid (Bad Request).
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unauthorized access.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Forbidden access.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Space not found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Space data conflict. Data has changed since last read.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unable to delete entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Something went wrong while processing Space.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unexpected error.
      summary: Bulk delete multiple spaces
      tags:
      - Space
    patch:
      description: Apply JSON merge patch to multiple spaces selected by query parameters
      operationId: BulkPatchSpaces
      parameters:
      - description: |-
          The specified string is an expression for the purpose of filtering
          the list of Spaces returned. The expression syntax was inspired by SQL.
          It supports conjunctions using `AND` of relational expressions of the form *attribute*
          *operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,
          as in the JSON encoding.
          Strings support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `LIKE`, `NOT LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.
          String pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,
          `ILIKE` for case-insensitive pattern matching, `NOT LIKE` and `!~~` for negated pattern matching.
          String regex operators: `~` for regex matching, `~*` for case-insensitive regex,
          `!~` and `!~*` for regex not matching (case-sensitive and insensitive).
          Integers support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `IN`, `NOT IN`.
          UUIDs and boolean attributes support equality and inequality only.
          UUID and time literals must be quoted as string literals.
          String literals are quoted with single quotes, such as `'string'`.
          Time literals use the same form as when serialized as JSON,
          such as: `CreatedAt > '2025-02-18T23:16:34'`.
          Integer and boolean literals are also supported for attributes of those types.
          Arrays support the `?` operator to to match any element of the array,
          as in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.
          Arrays can perform LEN() to check for length, as in `LEN(ApprovedBy) > 0`.
          Map support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.
          Maps support `IS NULL` and `IS NOT NULL` with dot notation to check for key absence or presence,
          as in `Labels.tier IS NULL` (key doesn't exist) or `Labels.tier IS NOT NULL` (key exists).
          Comparison results can be tested with `IS TRUE`, `IS FALSE`, `IS NOT TRUE`, and `IS NOT FALSE`.
          These are useful for nullable columns: `MergeSourceID = '<uuid>' IS NOT FALSE` matches rows where MergeSourceID equals the value OR is NULL.
          The `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,
          such as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.
          Conjunctions are supported using the `AND` operator.
          An example conjunction is:
          `CreatedAt >= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.

          Supported attributes for filtering on Space: AttributeFilterID, AttributeHash, AttributeIDs, CreatedAt, DeleteGates, DisplayName, Labels, OrganizationID, Permissions, Slug, SpaceID, TriggerFilterID, TriggerHash, TriggerIDs, UpdatedAt.

          The whole string must be query-encoded.
        in: query
        name: where
        required: false
        schema:
          type: string
      - description: |-
          UUID of a Filter entity to apply to the Space list.

          The Filter must be in the same Organization as the user credentials.

          The Filter's From field must match the entity type being filtered (Space).

          For Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.

          The Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.

          If both 'filter' and 'where' parameters are specified, they are combined with AND logic.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: |-
          Free text search that approximately matches the specified string against string fields and map keys/values.

          The search is case-insensitive and uses pattern matching to find entities containing the text.

          Searchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.

          For map fields (like Labels and Annotations), the search matches both map keys and values.

          The search uses OR logic across all searchable fields, so matching any field will return the entity.

          If both 'where' and 'contains' parameters are specified, they are combined with AND logic.

          Searchable fields for Space include string and map-type attributes from the queryable attributes list.

          The whole string must be query-encoded.
        in: query
        name: contains
        required: false
        schema:
          type: string
      - description: |-
          Include clause for expanding related entities in the response for Space.
          The attribute names are case-sensitive, PascalCase, and
          expected in a comma-separated list format as in the JSON encoding.

          Supported attributes for Space are AttributeFilterID, AttributeIDs, OrganizationID, TriggerFilterID, TriggerIDs.

          The whole string must be query-encoded.
        in: query
        name: include
        required: false
        schema:
          type: string
      - description: If true, re-list the Triggers matching WhereTrigger and/or TriggerFilterID
          even if these fields have not changed
        in: query
        name: refresh_triggers
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              description: JSON Merge Patch schema for Space. All fields are optional
                and nullable. Readonly fields are ignored.
              properties:
                Annotations:
                  additionalProperties:
                    nullable: true
                    type: string
                  description: An optional map of Annotation key/value pairs for tools
                    to attach information to entities.
                  nullable: true
                  type: object
                AttributeFilterID:
                  description: ""
                  format: uuid
                  nullable: true
                  type: string
                DeleteGates:
                  additionalProperties:
                    nullable: true
                    type: boolean
                  description: An optional set of gates that, if any is present, will
                    block deletion
                  nullable: true
                  type: object
                DisplayName:
                  description: Friendly name for the entity.
                  nullable: true
                  type: string
                Labels:
                  additionalProperties:
                    nullable: true
                    type: string
                  description: An optional map of Label key/value pairs to specify
                    identifying attributes of entities for the purpose of grouping
                    and filtering them.
                  nullable: true
                  type: object
                Permissions:
                  additionalProperties:
                    nullable: true
                    type: object
                  description: ""
                  nullable: true
                  type: object
                Slug:
                  description: Unique URL-safe identifier for the entity.
                  nullable: true
                  type: string
                TriggerFilterID:
                  description: ""
                  format: uuid
                  nullable: true
                  type: string
                Version:
                  description: An entity-specific sequence number used for optimistic
                    concurrency control. The value read must be sent in calls to Update.
                  nullable: true
                  type: integer
                WhereAttribute:
                  description: ""
                  nullable: true
                  type: string
                WhereTrigger:
                  description: ""
                  nullable: true
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SpaceCreateOrUpdateResponse'
                type: array
          description: OK
        "207":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SpaceCreateOrUpdateResponse'
                type: array
          description: 'Multi-Status: Mixed success and failure results'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Space request is invalid (Bad Request).
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unauthorized access.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Forbidden access.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Space not found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Space data conflict. Data has changed since last read.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Something went wrong while processing Space.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unexpected error.
      summary: Bulk patch multiple spaces
      tags:
      - Space
    post:
      description: Clone multiple spaces selected by query parameters with optional
        name prefixes
      operationId: BulkCreateSpaces
      parameters:
      - description: |-
          The specified string is an expression for the purpose of filtering
          the list of Spaces returned. The expression syntax was inspired by SQL.
          It supports conjunctions using `AND` of relational expressions of the form *attribute*
          *operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,
          as in the JSON encoding.
          Strings support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `LIKE`, `NOT LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.
          String pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,
          `ILIKE` for case-insensitive pattern matching, `NOT LIKE` and `!~~` for negated pattern matching.
          String regex operators: `~` for regex matching, `~*` for case-insensitive regex,
          `!~` and `!~*` for regex not matching (case-sensitive and insensitive).
          Integers support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `IN`, `NOT IN`.
          UUIDs and boolean attributes support equality and inequality only.
          UUID and time literals must be quoted as string literals.
          String literals are quoted with single quotes, such as `'string'`.
          Time literals use the same form as when serialized as JSON,
          such as: `CreatedAt > '2025-02-18T23:16:34'`.
          Integer and boolean literals are also supported for attributes of those types.
          Arrays support the `?` operator to to match any element of the array,
          as in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.
          Arrays can perform LEN() to check for length, as in `LEN(ApprovedBy) > 0`.
          Map support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.
          Maps support `IS NULL` and `IS NOT NULL` with dot notation to check for key absence or presence,
          as in `Labels.tier IS NULL` (key doesn't exist) or `Labels.tier IS NOT NULL` (key exists).
          Comparison results can be tested with `IS TRUE`, `IS FALSE`, `IS NOT TRUE`, and `IS NOT FALSE`.
          These are useful for nullable columns: `MergeSourceID = '<uuid>' IS NOT FALSE` matches rows where MergeSourceID equals the value OR is NULL.
          The `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,
          such as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.
          Conjunctions are supported using the `AND` operator.
          An example conjunction is:
          `CreatedAt >= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.

          Supported attributes for filtering on Space: AttributeFilterID, AttributeHash, AttributeIDs, CreatedAt, DeleteGates, DisplayName, Labels, OrganizationID, Permissions, Slug, SpaceID, TriggerFilterID, TriggerHash, TriggerIDs, UpdatedAt.

          The whole string must be query-encoded.
        in: query
        name: where
        required: false
        schema:
          type: string
      - description: |-
          UUID of a Filter entity to apply to the Space list.

          The Filter must be in the same Organization as the user credentials.

          The Filter's From field must match the entity type being filtered (Space).

          For Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.

          The Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.

          If both 'filter' and 'where' parameters are specified, they are combined with AND logic.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: |-
          Free text search that approximately matches the specified string against string fields and map keys/values.

          The search is case-insensitive and uses pattern matching to find entities containing the text.

          Searchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.

          For map fields (like Labels and Annotations), the search matches both map keys and values.

          The search uses OR logic across all searchable fields, so matching any field will return the entity.

          If both 'where' and 'contains' parameters are specified, they are combined with AND logic.

          Searchable fields for Space include string and map-type attributes from the queryable attributes list.

          The whole string must be query-encoded.
        in: query
        name: contains
        required: false
        schema:
          type: string
      - description: |-
          Include clause for expanding related entities in the response for Space.
          The attribute names are case-sensitive, PascalCase, and
          expected in a comma-separated list format as in the JSON encoding.

          Supported attributes for Space are AttributeFilterID, AttributeIDs, OrganizationID, TriggerFilterID, TriggerIDs.

          The whole string must be query-encoded.
        in: query
        name: include
        required: false
        schema:
          type: string
      - description: Comma-separated list of prefixes to apply to cloned Space names
        in: query
        name: name_prefixes
        required: false
        schema:
          type: string
      - description: Comma-separated list of labels with multiple values for cloned
          Space labels, in the format of key1=value1|value2,key2=value1|value2|value3
        in: query
        name: variant_labels
        required: false
        schema:
          type: string
      - description: 'A string for clone names, use the prefix ''template:'' for a
          Go-template with .SourceEntitySlug to access the original entity''s slug
          and .Labels to access variant labels, example: ''template:{{.SourceEntitySlug}}-{{.Labels.env}}'''
        in: query
        name: name_pattern
        required: false
        schema:
          type: string
      - description: Allowed values are true and false. Default is false. When true,
          reports success when an entity already exists and returns the existing entity
        in: query
        name: allow_exists
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              description: JSON Merge Patch schema for Space. All fields are optional
                and nullable. Readonly fields are ignored.
              properties:
                Annotations:
                  additionalProperties:
                    nullable: true
                    type: string
                  description: An optional map of Annotation key/value pairs for tools
                    to attach information to entities.
                  nullable: true
                  type: object
                AttributeFilterID:
                  description: ""
                  format: uuid
                  nullable: true
                  type: string
                DeleteGates:
                  additionalProperties:
                    nullable: true
                    type: boolean
                  description: An optional set of gates that, if any is present, will
                    block deletion
                  nullable: true
                  type: object
                DisplayName:
                  description: Friendly name for the entity.
                  nullable: true
                  type: string
                Labels:
                  additionalProperties:
                    nullable: true
                    type: string
                  description: An optional map of Label key/value pairs to specify
                    identifying attributes of entities for the purpose of grouping
                    and filtering them.
                  nullable: true
                  type: object
                Permissions:
                  additionalProperties:
                    nullable: true
                    type: object
                  description: ""
                  nullable: true
                  type: object
                Slug:
                  description: Unique URL-safe identifier for the entity.
                  nullable: true
                  type: string
                TriggerFilterID:
                  description: ""
                  format: uuid
                  nullable: true
                  type: string
                Version:
                  description: An entity-specific sequence number used for optimistic
                    concurrency control. The value read must be sent in calls to Update.
                  nullable: true
                  type: integer
                WhereAttribute:
                  description: ""
                  nullable: true
                  type: string
                WhereTrigger:
                  description: ""
                  nullable: true
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SpaceCreateOrUpdateResponse'
                type: array
          description: OK
        "207":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SpaceCreateOrUpdateResponse'
                type: array
          description: 'Multi-Status: Mixed success and failure results'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Space request is invalid (Bad Request).
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unauthorized access.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Forbidden access.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Space not found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Space data conflict. Data has changed since last read.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Something went wrong while processing Space.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unexpected error.
      summary: Bulk create (clone) multiple spaces
      tags:
      - Space
  /attribute:
    delete:
      description: Delete multiple attributes selected by query parameters
      operationId: BulkDeleteAttributes
      parameters:
      - description: |-
          The specified string is an expression for the purpose of filtering
          the list of Attributes returned. The expression syntax was inspired by SQL.
          It supports conjunctions using `AND` of relational expressions of the form *attribute*
          *operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,
          as in the JSON encoding.
          Strings support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `LIKE`, `NOT LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.
          String pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,
          `ILIKE` for case-insensitive pattern matching, `NOT LIKE` and `!~~` for negated pattern matching.
          String regex operators: `~` for regex matching, `~*` for case-insensitive regex,
          `!~` and `!~*` for regex not matching (case-sensitive and insensitive).
          Integers support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `IN`, `NOT IN`.
          UUIDs and boolean attributes support equality and inequality only.
          UUID and time literals must be quoted as string literals.
          String literals are quoted with single quotes, such as `'string'`.
          Time literals use the same form as when serialized as JSON,
          such as: `CreatedAt > '2025-02-18T23:16:34'`.
          Integer and boolean literals are also supported for attributes of those types.
          Arrays support the `?` operator to to match any element of the array,
          as in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.
          Arrays can perform LEN() to check for length, as in `LEN(ApprovedBy) > 0`.
          Map support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.
          Maps support `IS NULL` and `IS NOT NULL` with dot notation to check for key absence or presence,
          as in `Labels.tier IS NULL` (key doesn't exist) or `Labels.tier IS NOT NULL` (key exists).
          Comparison results can be tested with `IS TRUE`, `IS FALSE`, `IS NOT TRUE`, and `IS NOT FALSE`.
          These are useful for nullable columns: `MergeSourceID = '<uuid>' IS NOT FALSE` matches rows where MergeSourceID equals the value OR is NULL.
          The `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,
          such as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.
          Conjunctions are supported using the `AND` operator.
          An example conjunction is:
          `CreatedAt >= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.

          Supported attributes for filtering on Attribute: AttributeID, CreatedAt, DataType, DeleteGates, DisplayName, Hash, Labels, OrganizationID, Slug, SpaceID, ToolchainType, UpdatedAt.

          The whole string must be query-encoded.
        in: query
        name: where
        required: false
        schema:
          type: string
      - description: |-
          UUID of a Filter entity to apply to the Attribute list.

          The Filter must be in the same Organization as the user credentials.

          The Filter's From field must match the entity type being filtered (Attribute).

          For Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.

          The Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.

          If both 'filter' and 'where' parameters are specified, they are combined with AND logic.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: |-
          Free text search that approximately matches the specified string against string fields and map keys/values.

          The search is case-insensitive and uses pattern matching to find entities containing the text.

          Searchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.

          For map fields (like Labels and Annotations), the search matches both map keys and values.

          The search uses OR logic across all searchable fields, so matching any field will return the entity.

          If both 'where' and 'contains' parameters are specified, they are combined with AND logic.

          Searchable fields for Attribute include string and map-type attributes from the queryable attributes list.

          The whole string must be query-encoded.
        in: query
        name: contains
        required: false
        schema:
          type: string
      - description: |-
          Include clause for expanding related entities in the response for Attribute.
          The attribute names are case-sensitive, PascalCase, and
          expected in a comma-separated list format as in the JSON encoding.

          Supported attributes for Attribute are OrganizationID, SpaceID.

          The whole string must be query-encoded.
        in: query
        name: include
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeleteResponse'
                type: array
          description: OK
        "207":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeleteResponse'
                type: array
          description: 'Multi-Status: Mixed success and failure results'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Attribute request is invalid (Bad Request).
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unauthorized access.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Forbidden access.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Attribute not found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Attribute data conflict. Data has changed since last read.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unable to delete entity
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Something went wrong while processing Attribute.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unexpected error.
      summary: Bulk delete multiple attributes
      tags:
      - Attribute
    get:
      description: Retrieves a list of Attributes across spaces in the Organization
      operationId: ListAllAttributes
      parameters:
      - description: |-
          The specified string is an expression for the purpose of filtering
          the list of Attributes returned. The expression syntax was inspired by SQL.
          It supports conjunctions using `AND` of relational expressions of the form *attribute*
          *operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,
          as in the JSON encoding.
          Strings support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `LIKE`, `NOT LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.
          String pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,
          `ILIKE` for case-insensitive pattern matching, `NOT LIKE` and `!~~` for negated pattern matching.
          String regex operators: `~` for regex matching, `~*` for case-insensitive regex,
          `!~` and `!~*` for regex not matching (case-sensitive and insensitive).
          Integers support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `IN`, `NOT IN`.
          UUIDs and boolean attributes support equality and inequality only.
          UUID and time literals must be quoted as string literals.
          String literals are quoted with single quotes, such as `'string'`.
          Time literals use the same form as when serialized as JSON,
          such as: `CreatedAt > '2025-02-18T23:16:34'`.
          Integer and boolean literals are also supported for attributes of those types.
          Arrays support the `?` operator to to match any element of the array,
          as in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.
          Arrays can perform LEN() to check for length, as in `LEN(ApprovedBy) > 0`.
          Map support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.
          Maps support `IS NULL` and `IS NOT NULL` with dot notation to check for key absence or presence,
          as in `Labels.tier IS NULL` (key doesn't exist) or `Labels.tier IS NOT NULL` (key exists).
          Comparison results can be tested with `IS TRUE`, `IS FALSE`, `IS NOT TRUE`, and `IS NOT FALSE`.
          These are useful for nullable columns: `MergeSourceID = '<uuid>' IS NOT FALSE` matches rows where MergeSourceID equals the value OR is NULL.
          The `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,
          such as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.
          Conjunctions are supported using the `AND` operator.
          An example conjunction is:
          `CreatedAt >= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.

          Supported attributes for filtering on Attribute: AttributeID, CreatedAt, DataType, DeleteGates, DisplayName, Hash, Labels, OrganizationID, Slug, SpaceID, ToolchainType, UpdatedAt.

          The whole string must be query-encoded.
        in: query
        name: where
        required: false
        schema:
          type: string
      - description: |-
          UUID of a Filter entity to apply to the Attribute list.

          The Filter must be in the same Organization as the user credentials.

          The Filter's From field must match the entity type being filtered (Attribute).

          For Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.

          The Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.

          If both 'filter' and 'where' parameters are specified, they are combined with AND logic.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: |-
          Free text search that approximately matches the specified string against string fields and map keys/values.

          The search is case-insensitive and uses pattern matching to find entities containing the text.

          Searchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.

          For map fields (like Labels and Annotations), the search matches both map keys and values.

          The search uses OR logic across all searchable fields, so matching any field will return the entity.

          If both 'where' and 'contains' parameters are specified, they are combined with AND logic.

          Searchable fields for Attribute include string and map-type attributes from the queryable attributes list.

          The whole string must be query-encoded.
        in: query
        name: contains
        required: false
        schema:
          type: string
      - description: |-
          Include clause for expanding related entities in the response for Attribute.
          The attribute names are case-sensitive, PascalCase, and
          expected in a comma-separated list format as in the JSON encoding.

          Supported attributes for Attribute are OrganizationID, SpaceID.

          The whole string must be query-encoded.
        in: query
        name: include
        required: false
        schema:
          type: string
      - description: |-
          Select clause for specifying which fields to include in the response for Attribute.
          The attribute names are case-sensitive, PascalCase, and
          expected in a comma-separated list format as in the JSON encoding.
          If not specified, all fields are returned.
          Entity and parent IDs (like OrganizationID, SpaceID, AttributeID) and Slug are always returned regardless of the select parameter.
          Fields used in where and contains filters are also automatically included.
          Example: 'DisplayName,CreatedAt,Labels' will return only those fields plus the required ID and Slug fields.
          The whole string must be query-encoded.
        in: query
        name: select
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ExtendedAttribute'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Attribute request is invalid (Bad Request).
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unauthorized access.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Forbidden access.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Attribute not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Something went wrong while processing Attribute.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unexpected error.
      summary: List of Attributes across spaces
      tags:
      - Attribute
    patch:
      description: Apply JSON merge patch to multiple attributes selected by query
        parameters
      operationId: BulkPatchAttributes
      parameters:
      - description: |-
          The specified string is an expression for the purpose of filtering
          the list of Attributes returned. The expression syntax was inspired by SQL.
          It supports conjunctions using `AND` of relational expressions of the form *attribute*
          *operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,
          as in the JSON encoding.
          Strings support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `LIKE`, `NOT LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.
          String pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,
          `ILIKE` for case-insensitive pattern matching, `NOT LIKE` and `!~~` for negated pattern matching.
          String regex operators: `~` for regex matching, `~*` for case-insensitive regex,
          `!~` and `!~*` for regex not matching (case-sensitive and insensitive).
          Integers support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `IN`, `NOT IN`.
          UUIDs and boolean attributes support equality and inequality only.
          UUID and time literals must be quoted as string literals.
          String literals are quoted with single quotes, such as `'string'`.
          Time literals use the same form as when serialized as JSON,
          such as: `CreatedAt > '2025-02-18T23:16:34'`.
          Integer and boolean literals are also supported for attributes of those types.
          Arrays support the `?` operator to to match any element of the array,
          as in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.
          Arrays can perform LEN() to check for length, as in `LEN(ApprovedBy) > 0`.
          Map support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.
          Maps support `IS NULL` and `IS NOT NULL` with dot notation to check for key absence or presence,
          as in `Labels.tier IS NULL` (key doesn't exist) or `Labels.tier IS NOT NULL` (key exists).
          Comparison results can be tested with `IS TRUE`, `IS FALSE`, `IS NOT TRUE`, and `IS NOT FALSE`.
          These are useful for nullable columns: `MergeSourceID = '<uuid>' IS NOT FALSE` matches rows where MergeSourceID equals the value OR is NULL.
          The `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,
          such as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.
          Conjunctions are supported using the `AND` operator.
          An example conjunction is:
          `CreatedAt >= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.

          Supported attributes for filtering on Attribute: AttributeID, CreatedAt, DataType, DeleteGates, DisplayName, Hash, Labels, OrganizationID, Slug, SpaceID, ToolchainType, UpdatedAt.

          The whole string must be query-encoded.
        in: query
        name: where
        required: false
        schema:
          type: string
      - description: |-
          UUID of a Filter entity to apply to the Attribute list.

          The Filter must be in the same Organization as the user credentials.

          The Filter's From field must match the entity type being filtered (Attribute).

          For Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.

          The Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.

          If both 'filter' and 'where' parameters are specified, they are combined with AND logic.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: |-
          Free text search that approximately matches the specified string against string fields and map keys/values.

          The search is case-insensitive and uses pattern matching to find entities containing the text.

          Searchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.

          For map fields (like Labels and Annotations), the search matches both map keys and values.

          The search uses OR logic across all searchable fields, so matching any field will return the entity.

          If both 'where' and 'contains' parameters are specified, they are combined with AND logic.

          Searchable fields for Attribute include string and map-type attributes from the queryable attributes list.

          The whole string must be query-encoded.
        in: query
        name: contains
        required: false
        schema:
          type: string
      - description: |-
          Include clause for expanding related entities in the response for Attribute.
          The attribute names are case-sensitive, PascalCase, and
          expected in a comma-separated list format as in the JSON encoding.

          Supported attributes for Attribute are OrganizationID, SpaceID.

          The whole string must be query-encoded.
        in: query
        name: include
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              description: JSON Merge Patch schema for Attribute. All fields are optional
                and nullable. Readonly fields are ignored.
              properties:
                Annotations:
                  additionalProperties:
                    nullable: true
                    type: string
                  description: An optional map of Annotation key/value pairs for tools
                    to attach information to entities.
                  nullable: true
                  type: object
                DataType:
                  description: ""
                  nullable: true
                  type: string
                DeleteGates:
                  additionalProperties:
                    nullable: true
                    type: boolean
                  description: An optional set of gates that, if any is present, will
                    block deletion
                  nullable: true
                  type: object
                Description:
                  description: ""
                  nullable: true
                  type: string
                DisplayName:
                  description: Friendly name for the entity.
                  nullable: true
                  type: string
                Labels:
                  additionalProperties:
                    nullable: true
                    type: string
                  description: An optional map of Label key/value pairs to specify
                    identifying attributes of entities for the purpose of grouping
                    and filtering them.
                  nullable: true
                  type: object
                Parameters:
                  description: ""
                  items:
                    nullable: true
                    type: object
                  nullable: true
                  type: array
                ResourceTypePaths:
                  description: ""
                  items:
                    nullable: true
                    type: object
                  nullable: true
                  type: array
                Slug:
                  description: Unique URL-safe identifier for the entity.
                  nullable: true
                  type: string
                ToolchainType:
                  description: ""
                  nullable: true
                  type: string
                Version:
                  description: An entity-specific sequence number used for optimistic
                    concurrency control. The value read must be sent in calls to Update.
                  nullable: true
                  type: integer
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AttributeCreateOrUpdateResponse'
                type: array
          description: OK
        "207":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AttributeCreateOrUpdateResponse'
                type: array
          description: 'Multi-Status: Mixed success and failure results'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Attribute request is invalid (Bad Request).
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unauthorized access.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Forbidden access.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Attribute not found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Attribute data conflict. Data has changed since last read.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Something went wrong while processing Attribute.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unexpected error.
      summary: Bulk patch multiple attributes
      tags:
      - Attribute
    post:
      description: Clone multiple attributes selected by query parameters with optional
        name prefixes and destination spaces
      operationId: BulkCreateAttributes
      parameters:
      - description: |-
          The specified string is an expression for the purpose of filtering
          the list of Attributes returned. The expression syntax was inspired by SQL.
          It supports conjunctions using `AND` of relational expressions of the form *attribute*
          *operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,
          as in the JSON encoding.
          Strings support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `LIKE`, `NOT LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.
          String pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,
          `ILIKE` for case-insensitive pattern matching, `NOT LIKE` and `!~~` for negated pattern matching.
          String regex operators: `~` for regex matching, `~*` for case-insensitive regex,
          `!~` and `!~*` for regex not matching (case-sensitive and insensitive).
          Integers support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `IN`, `NOT IN`.
          UUIDs and boolean attributes support equality and inequality only.
          UUID and time literals must be quoted as string literals.
          String literals are quoted with single quotes, such as `'string'`.
          Time literals use the same form as when serialized as JSON,
          such as: `CreatedAt > '2025-02-18T23:16:34'`.
          Integer and boolean literals are also supported for attributes of those types.
          Arrays support the `?` operator to to match any element of the array,
          as in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.
          Arrays can perform LEN() to check for length, as in `LEN(ApprovedBy) > 0`.
          Map support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.
          Maps support `IS NULL` and `IS NOT NULL` with dot notation to check for key absence or presence,
          as in `Labels.tier IS NULL` (key doesn't exist) or `Labels.tier IS NOT NULL` (key exists).
          Comparison results can be tested with `IS TRUE`, `IS FALSE`, `IS NOT TRUE`, and `IS NOT FALSE`.
          These are useful for nullable columns: `MergeSourceID = '<uuid>' IS NOT FALSE` matches rows where MergeSourceID equals the value OR is NULL.
          The `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,
          such as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.
          Conjunctions are supported using the `AND` operator.
          An example conjunction is:
          `CreatedAt >= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.

          Supported attributes for filtering on Attribute: AttributeID, CreatedAt, DataType, DeleteGates, DisplayName, Hash, Labels, OrganizationID, Slug, SpaceID, ToolchainType, UpdatedAt.

          The whole string must be query-encoded.
        in: query
        name: where
        required: false
        schema:
          type: string
      - description: |-
          UUID of a Filter entity to apply to the Attribute list.

          The Filter must be in the same Organization as the user credentials.

          The Filter's From field must match the entity type being filtered (Attribute).

          For Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.

          The Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.

          If both 'filter' and 'where' parameters are specified, they are combined with AND logic.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: |-
          Free text search that approximately matches the specified string against string fields and map keys/values.

          The search is case-insensitive and uses pattern matching to find entities containing the text.

          Searchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.

          For map fields (like Labels and Annotations), the search matches both map keys and values.

          The search uses OR logic across all searchable fields, so matching any field will return the entity.

          If both 'where' and 'contains' parameters are specified, they are combined with AND logic.

          Searchable fields for Attribute include string and map-type attributes from the queryable attributes list.

          The whole string must be query-encoded.
        in: query
        name: contains
        required: false
        schema:
          type: string
      - description: |-
          Include clause for expanding related entities in the response for Attribute.
          The attribute names are case-sensitive, PascalCase, and
          expected in a comma-separated list format as in the JSON encoding.

          Supported attributes for Attribute are OrganizationID, SpaceID.

          The whole string must be query-encoded.
        in: query
        name: include
        required: false
        schema:
          type: string
      - description: Comma-separated list of prefixes to apply to cloned Attribute
          names
        in: query
        name: name_prefixes
        required: false
        schema:
          type: string
      - description: |-
          The specified string is an expression for the purpose of filtering
          the list of Spaces returned. The expression syntax was inspired by SQL.
          It supports conjunctions using `AND` of relational expressions of the form *attribute*
          *operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,
          as in the JSON encoding.
          Strings support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `LIKE`, `NOT LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.
          String pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,
          `ILIKE` for case-insensitive pattern matching, `NOT LIKE` and `!~~` for negated pattern matching.
          String regex operators: `~` for regex matching, `~*` for case-insensitive regex,
          `!~` and `!~*` for regex not matching (case-sensitive and insensitive).
          Integers support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `IN`, `NOT IN`.
          UUIDs and boolean attributes support equality and inequality only.
          UUID and time literals must be quoted as string literals.
          String literals are quoted with single quotes, such as `'string'`.
          Time literals use the same form as when serialized as JSON,
          such as: `CreatedAt > '2025-02-18T23:16:34'`.
          Integer and boolean literals are also supported for attributes of those types.
          Arrays support the `?` operator to to match any element of the array,
          as in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.
          Arrays can perform LEN() to check for length, as in `LEN(ApprovedBy) > 0`.
          Map support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.
          Maps support `IS NULL` and `IS NOT NULL` with dot notation to check for key absence or presence,
          as in `Labels.tier IS NULL` (key doesn't exist) or `Labels.tier IS NOT NULL` (key exists).
          Comparison results can be tested with `IS TRUE`, `IS FALSE`, `IS NOT TRUE`, and `IS NOT FALSE`.
          These are useful for nullable columns: `MergeSourceID = '<uuid>' IS NOT FALSE` matches rows where MergeSourceID equals the value OR is NULL.
          The `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,
          such as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.
          Conjunctions are supported using the `AND` operator.
          An example conjunction is:
          `CreatedAt >= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.

          Supported attributes for filtering on Space: AttributeFilterID, AttributeHash, AttributeIDs, CreatedAt, DeleteGates, DisplayName, Labels, OrganizationID, Permissions, Slug, SpaceID, TriggerFilterID, TriggerHash, TriggerIDs, UpdatedAt.

          Where expression to select destination spaces for cloning attributes

          The whole string must be query-encoded.
        in: query
        name: where_space
        required: false
        schema:
          type: string
      - description: |-
          UUID of a Filter entity to apply to the Space list.

          The Filter must be in the same Organization as the user credentials.

          The Filter's From field must match the entity type being filtered (Space).

          For Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.

          The Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.

          If both 'filter' and 'where' parameters are specified, they are combined with AND logic.
        in: query
        name: filter_space
        required: false
        schema:
          type: string
      - description: Allowed values are true and false. Default is false. When true,
          reports success when an entity already exists and returns the existing entity
        in: query
        name: allow_exists
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              description: JSON Merge Patch schema for Attribute. All fields are optional
                and nullable. Readonly fields are ignored.
              properties:
                Annotations:
                  additionalProperties:
                    nullable: true
                    type: string
                  description: An optional map of Annotation key/value pairs for tools
                    to attach information to entities.
                  nullable: true
                  type: object
                DataType:
                  description: ""
                  nullable: true
                  type: string
                DeleteGates:
                  additionalProperties:
                    nullable: true
                    type: boolean
                  description: An optional set of gates that, if any is present, will
                    block deletion
                  nullable: true
                  type: object
                Description:
                  description: ""
                  nullable: true
                  type: string
                DisplayName:
                  description: Friendly name for the entity.
                  nullable: true
                  type: string
                Labels:
                  additionalProperties:
                    nullable: true
                    type: string
                  description: An optional map of Label key/value pairs to specify
                    identifying attributes of entities for the purpose of grouping
                    and filtering them.
                  nullable: true
                  type: object
                Parameters:
                  description: ""
                  items:
                    nullable: true
                    type: object
                  nullable: true
                  type: array
                ResourceTypePaths:
                  description: ""
                  items:
                    nullable: true
                    type: object
                  nullable: true
                  type: array
                Slug:
                  description: Unique URL-safe identifier for the entity.
                  nullable: true
                  type: string
                ToolchainType:
                  description: ""
                  nullable: true
                  type: string
                Version:
                  description: An entity-specific sequence number used for optimistic
                    concurrency control. The value read must be sent in calls to Update.
                  nullable: true
                  type: integer
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AttributeCreateOrUpdateResponse'
                type: array
          description: OK
        "207":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AttributeCreateOrUpdateResponse'
                type: array
          description: Multi-Status (partial success)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Attribute request is invalid (Bad Request).
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unauthorized access.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Forbidden access.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Attribute not found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Attribute data conflict. Data has changed since last read.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Something went wrong while processing Attribute.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unexpected error.
      summary: Bulk create (clone) multiple attributes
      tags:
      - Attribute
  /bridge_worker:
    delete:
      description: Delete multiple bridge workers selected by query parameters
      operationId: BulkDeleteBridgeWorkers
      parameters:
      - description: |-
          The specified string is an expression for the purpose of filtering
          the list of BridgeWorkers returned. The expression syntax was inspired by SQL.
          It supports conjunctions using `AND` of relational expressions of the form *attribute*
          *operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,
          as in the JSON encoding.
          Strings support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `LIKE`, `NOT LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.
          String pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,
          `ILIKE` for case-insensitive pattern matching, `NOT LIKE` and `!~~` for negated pattern matching.
          String regex operators: `~` for regex matching, `~*` for case-insensitive regex,
          `!~` and `!~*` for regex not matching (case-sensitive and insensitive).
          Integers support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `IN`, `NOT IN`.
          UUIDs and boolean attributes support equality and inequality only.
          UUID and time literals must be quoted as string literals.
          String literals are quoted with single quotes, such as `'string'`.
          Time literals use the same form as when serialized as JSON,
          such as: `CreatedAt > '2025-02-18T23:16:34'`.
          Integer and boolean literals are also supported for attributes of those types.
          Arrays support the `?` operator to to match any element of the array,
          as in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.
          Arrays can perform LEN() to check for length, as in `LEN(ApprovedBy) > 0`.
          Map support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.
          Maps support `IS NULL` and `IS NOT NULL` with dot notation to check for key absence or presence,
          as in `Labels.tier IS NULL` (key doesn't exist) or `Labels.tier IS NOT NULL` (key exists).
          Comparison results can be tested with `IS TRUE`, `IS FALSE`, `IS NOT TRUE`, and `IS NOT FALSE`.
          These are useful for nullable columns: `MergeSourceID = '<uuid>' IS NOT FALSE` matches rows where MergeSourceID equals the value OR is NULL.
          The `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,
          such as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.
          Conjunctions are supported using the `AND` operator.
          An example conjunction is:
          `CreatedAt >= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.

          Supported attributes for filtering on BridgeWorker: BridgeWorkerID, Condition, CreatedAt, DisplayName, IPAddress, Labels, LastMessage, LastSeenAt, OrgRole, OrganizationID, Permissions, Slug, SpaceID, UpdatedAt, UserID.

          The whole string must be query-encoded.
        in: query
        name: where
        required: false
        schema:
          type: string
      - description: |-
          UUID of a Filter entity to apply to the BridgeWorker list.

          The Filter must be in the same Organization as the user credentials.

          The Filter's From field must match the entity type being filtered (BridgeWorker).

          For Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.

          The Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.

          If both 'filter' and 'where' parameters are specified, they are combined with AND logic.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: |-
          Free text search that approximately matches the specified string against string fields and map keys/values.

          The search is case-insensitive and uses pattern matching to find entities containing the text.

          Searchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.

          For map fields (like Labels and Annotations), the search matches both map keys and values.

          The search uses OR logic across all searchable fields, so matching any field will return the entity.

          If both 'where' and 'contains' parameters are specified, they are combined with AND logic.

          Searchable fields for BridgeWorker include string and map-type attributes from the queryable attributes list.

          The whole string must be query-encoded.
        in: query
        name: contains
        required: false
        schema:
          type: string
      - description: |-
          Include clause for expanding related entities in the response for BridgeWorker.
          The attribute names are case-sensitive, PascalCase, and
          expected in a comma-separated list format as in the JSON encoding.

          Supported attributes for BridgeWorker are OrganizationID, SpaceID.

          The whole string must be query-encoded.
        in: query
        name: include
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeleteResponse'
                type: array
          description: OK
        "207":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeleteResponse'
                type: array
          description: 'Multi-Status: Mixed success and failure results'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: BridgeWorker request is invalid (Bad Request).
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unauthorized access.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Forbidden access.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: BridgeWorker not found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: BridgeWorker data conflict. Data has changed since last read.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: BridgeWorker could not be deleted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Something went wrong while processing BridgeWorker.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unexpected error.
      summary: Bulk delete multiple bridge workers
      tags:
      - BridgeWorker
    get:
      description: List all BridgeWorker across spaces
      operationId: ListAllBridgeWorkers
      parameters:
      - description: |-
          The specified string is an expression for the purpose of filtering
          the list of BridgeWorkers returned. The expression syntax was inspired by SQL.
          It supports conjunctions using `AND` of relational expressions of the form *attribute*
          *operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,
          as in the JSON encoding.
          Strings support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `LIKE`, `NOT LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.
          String pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,
          `ILIKE` for case-insensitive pattern matching, `NOT LIKE` and `!~~` for negated pattern matching.
          String regex operators: `~` for regex matching, `~*` for case-insensitive regex,
          `!~` and `!~*` for regex not matching (case-sensitive and insensitive).
          Integers support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `IN`, `NOT IN`.
          UUIDs and boolean attributes support equality and inequality only.
          UUID and time literals must be quoted as string literals.
          String literals are quoted with single quotes, such as `'string'`.
          Time literals use the same form as when serialized as JSON,
          such as: `CreatedAt > '2025-02-18T23:16:34'`.
          Integer and boolean literals are also supported for attributes of those types.
          Arrays support the `?` operator to to match any element of the array,
          as in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.
          Arrays can perform LEN() to check for length, as in `LEN(ApprovedBy) > 0`.
          Map support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.
          Maps support `IS NULL` and `IS NOT NULL` with dot notation to check for key absence or presence,
          as in `Labels.tier IS NULL` (key doesn't exist) or `Labels.tier IS NOT NULL` (key exists).
          Comparison results can be tested with `IS TRUE`, `IS FALSE`, `IS NOT TRUE`, and `IS NOT FALSE`.
          These are useful for nullable columns: `MergeSourceID = '<uuid>' IS NOT FALSE` matches rows where MergeSourceID equals the value OR is NULL.
          The `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,
          such as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.
          Conjunctions are supported using the `AND` operator.
          An example conjunction is:
          `CreatedAt >= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.

          Supported attributes for filtering on BridgeWorker: BridgeWorkerID, Condition, CreatedAt, DisplayName, IPAddress, Labels, LastMessage, LastSeenAt, OrgRole, OrganizationID, Permissions, Slug, SpaceID, UpdatedAt, UserID.

          The whole string must be query-encoded.
        in: query
        name: where
        required: false
        schema:
          type: string
      - description: |-
          Free text search that approximately matches the specified string against string fields and map keys/values.

          The search is case-insensitive and uses pattern matching to find entities containing the text.

          Searchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.

          For map fields (like Labels and Annotations), the search matches both map keys and values.

          The search uses OR logic across all searchable fields, so matching any field will return the entity.

          If both 'where' and 'contains' parameters are specified, they are combined with AND logic.

          Searchable fields for BridgeWorker include string and map-type attributes from the queryable attributes list.

          The whole string must be query-encoded.
        in: query
        name: contains
        required: false
        schema:
          type: string
      - description: |-
          Include clause for expanding related entities in the response for BridgeWorker.
          The attribute names are case-sensitive, PascalCase, and
          expected in a comma-separated list format as in the JSON encoding.

          Supported attributes for BridgeWorker are OrganizationID, SpaceID.

          The whole string must be query-encoded.
        in: query
        name: include
        required: false
        schema:
          type: string
      - description: |-
          Select clause for specifying which fields to include in the response for BridgeWorker.
          The attribute names are case-sensitive, PascalCase, and
          expected in a comma-separated list format as in the JSON encoding.
          If not specified, all fields are returned.
          Entity and parent IDs (like OrganizationID, SpaceID, BridgeWorkerID) and Slug are always returned regardless of the select parameter.
          Fields used in where and contains filters are also automatically included.
          Example: 'DisplayName,CreatedAt,Labels' will return only those fields plus the required ID and Slug fields.
          The whole string must be query-encoded.
        in: query
        name: select
        required: false
        schema:
          type: string
      - description: Include summary information in the response
        in: query
        name: summary
        required: false
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ExtendedBridgeWorker'
                type: array
          description: OK
      summary: List all BridgeWorker across spaces
      tags:
      - BridgeWorker
    patch:
      description: Apply JSON merge patch to multiple bridge workers selected by query
        parameters
      operationId: BulkPatchBridgeWorkers
      parameters:
      - description: |-
          The specified string is an expression for the purpose of filtering
          the list of BridgeWorkers returned. The expression syntax was inspired by SQL.
          It supports conjunctions using `AND` of relational expressions of the form *attribute*
          *operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,
          as in the JSON encoding.
          Strings support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `LIKE`, `NOT LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.
          String pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,
          `ILIKE` for case-insensitive pattern matching, `NOT LIKE` and `!~~` for negated pattern matching.
          String regex operators: `~` for regex matching, `~*` for case-insensitive regex,
          `!~` and `!~*` for regex not matching (case-sensitive and insensitive).
          Integers support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `IN`, `NOT IN`.
          UUIDs and boolean attributes support equality and inequality only.
          UUID and time literals must be quoted as string literals.
          String literals are quoted with single quotes, such as `'string'`.
          Time literals use the same form as when serialized as JSON,
          such as: `CreatedAt > '2025-02-18T23:16:34'`.
          Integer and boolean literals are also supported for attributes of those types.
          Arrays support the `?` operator to to match any element of the array,
          as in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.
          Arrays can perform LEN() to check for length, as in `LEN(ApprovedBy) > 0`.
          Map support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.
          Maps support `IS NULL` and `IS NOT NULL` with dot notation to check for key absence or presence,
          as in `Labels.tier IS NULL` (key doesn't exist) or `Labels.tier IS NOT NULL` (key exists).
          Comparison results can be tested with `IS TRUE`, `IS FALSE`, `IS NOT TRUE`, and `IS NOT FALSE`.
          These are useful for nullable columns: `MergeSourceID = '<uuid>' IS NOT FALSE` matches rows where MergeSourceID equals the value OR is NULL.
          The `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,
          such as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.
          Conjunctions are supported using the `AND` operator.
          An example conjunction is:
          `CreatedAt >= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.

          Supported attributes for filtering on BridgeWorker: BridgeWorkerID, Condition, CreatedAt, DisplayName, IPAddress, Labels, LastMessage, LastSeenAt, OrgRole, OrganizationID, Permissions, Slug, SpaceID, UpdatedAt, UserID.

          The whole string must be query-encoded.
        in: query
        name: where
        required: false
        schema:
          type: string
      - description: |-
          UUID of a Filter entity to apply to the BridgeWorker list.

          The Filter must be in the same Organization as the user credentials.

          The Filter's From field must match the entity type being filtered (BridgeWorker).

          For Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.

          The Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.

          If both 'filter' and 'where' parameters are specified, they are combined with AND logic.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: |-
          Free text search that approximately matches the specified string against string fields and map keys/values.

          The search is case-insensitive and uses pattern matching to find entities containing the text.

          Searchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.

          For map fields (like Labels and Annotations), the search matches both map keys and values.

          The search uses OR logic across all searchable fields, so matching any field will return the entity.

          If both 'where' and 'contains' parameters are specified, they are combined with AND logic.

          Searchable fields for BridgeWorker include string and map-type attributes from the queryable attributes list.

          The whole string must be query-encoded.
        in: query
        name: contains
        required: false
        schema:
          type: string
      - description: |-
          Include clause for expanding related entities in the response for BridgeWorker.
          The attribute names are case-sensitive, PascalCase, and
          expected in a comma-separated list format as in the JSON encoding.

          Supported attributes for BridgeWorker are OrganizationID, SpaceID.

          The whole string must be query-encoded.
        in: query
        name: include
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              description: JSON Merge Patch schema for BridgeWorker. All fields are
                optional and nullable. Readonly fields are ignored.
              properties:
                Annotations:
                  additionalProperties:
                    nullable: true
                    type: string
                  description: An optional map of Annotation key/value pairs for tools
                    to attach information to entities.
                  nullable: true
                  type: object
                Condition:
                  description: ""
                  nullable: true
                  type: string
                DeleteGates:
                  additionalProperties:
                    nullable: true
                    type: boolean
                  description: An optional set of gates that, if any is present, will
                    block deletion
                  nullable: true
                  type: object
                DisplayName:
                  description: Friendly name for the entity.
                  nullable: true
                  type: string
                Labels:
                  additionalProperties:
                    nullable: true
                    type: string
                  description: An optional map of Label key/value pairs to specify
                    identifying attributes of entities for the purpose of grouping
                    and filtering them.
                  nullable: true
                  type: object
                OrgRole:
                  description: ""
                  nullable: true
                  type: string
                Permissions:
                  additionalProperties:
                    nullable: true
                    type: object
                  description: ""
                  nullable: true
                  type: object
                ProvidedInfo:
                  description: ""
                  nullable: true
                  type: object
                Slug:
                  description: Unique URL-safe identifier for the entity.
                  nullable: true
                  type: string
                Version:
                  description: An entity-specific sequence number used for optimistic
                    concurrency control. The value read must be sent in calls to Update.
                  nullable: true
                  type: integer
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BridgeWorkerCreateOrUpdateResponse'
                type: array
          description: OK
        "207":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BridgeWorkerCreateOrUpdateResponse'
                type: array
          description: 'Multi-Status: Mixed success and failure results'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: BridgeWorker request is invalid (Bad Request).
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unauthorized access.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Forbidden access.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: BridgeWorker not found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: BridgeWorker data conflict. Data has changed since last read.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Something went wrong while processing BridgeWorker.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unexpected error.
      summary: Bulk patch multiple bridge workers
      tags:
      - BridgeWorker
  /bridge_worker/{bridge_worker_id}/action_result:
    post:
      description: Records the status/result of an action executed by a bridge worker
      operationId: CreateActionResult
      parameters:
      - description: Unique identifier for a bridge_worker_id
        in: path
        name: bridge_worker_id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionResult'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: BridgeWorker request is invalid (Bad Request).
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unauthorized access.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Forbidden access.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: BridgeWorker not found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: BridgeWorker data conflict. Data has changed since last read.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Something went wrong while processing BridgeWorker.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unexpected error.
      summary: Create action result
      tags:
      - BridgeWorker
  /bridge_worker/{bridge_worker_id}/me:
    get:
      description: Gets the current BridgeWorker from context
      operationId: GetSelf
      parameters:
      - description: Unique identifier for a bridge_worker_id
        in: path
        name: bridge_worker_id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BridgeWorker'
          description: |-
            BridgeWorker represents a bridge worker in ConfigHub.
            A bridge worker is a worker program that connects ConfigHub to external systems and targets.
            It acts as a bridge between ConfigHub and the infrastructure where configurations need
            to be applied. Bridge workers are responsible for executing configuration changes on
            remote targets and reporting status back to ConfigHub.
            When starting a bridge worker program, both the BridgeWorkerID and Secret are
            required for authentication with the ConfigHub server. These credentials allow the
            bridge worker to establish a secure connection and receive configuration actions.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: BridgeWorker request is invalid (Bad Request).
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unauthorized access.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Forbidden access.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: BridgeWorker not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Something went wrong while processing BridgeWorker.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
          description: Unexpected error.
      summary: Gets the current BridgeWorker from context
      tags:
      - BridgeWorker
  /bridge_worker/{bridge_worker_id}/queued_operation:
    get:
      description: List QueuedOperations
      operationId: ListQueuedOperations
      parameters:
      - description: Unique identifier for a bridge_worker_id
        in: path
        name: bridge_worker_id
        required: true
        schema:
          format: uuid
          type: string
      - description: |-
          The specified string is an expression for the purpose of filtering
          the list of QueuedOperations returned. The expression syntax was inspired by SQL.
          It supports conjunctions using `AND` of relational expressions of the form *attribute*
          *operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,
          as in the JSON encoding.
          Strings support the following operators: `<`, `>`, `<=`, `>=`, `=`, `!=`, `LIKE`, `NOT LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.
          String pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,
[...]
